.hero {
  position: relative;
}

.heroBg {
  position: absolute;
  background-image: linear-gradient(
    180deg,
    rgba(229, 231, 235, 0.1),
    rgba(229, 231, 235, 0.7)
  );
  width: 100%;
  height: 100%;

  :global(.dark) & {
    background-image: linear-gradient(
      180deg,
      rgba(38, 38, 38, 0.1),
      rgba(38, 38, 38, 0.7)
    );
  }
}

.heroTiles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url('./heroTile.svg');
  background-position: bottom -1px left -1px;
  background-repeat: repeat;
  background-size: 142px 71px;

  :global(.dark) & {
    background-image: url('./heroTileDark.svg');
  }
}

.heroContent {
  position: relative;
  z-index: 2;
  max-width: 90rem;
  padding-left: max(env(safe-area-inset-left), 1.5rem);
  padding-right: max(env(safe-area-inset-right), 1.5rem);
  margin: 0 auto;
}

.headline {
  display: inline-flex;
  font-size: 3.125rem;
  font-size: min(4.375rem, max(8vw, 2.5rem));
  font-weight: 700;
  font-feature-settings: initial;
  letter-spacing: -0.12rem;
  margin-left: -0.2rem;
  margin-top: 3.4rem;
  line-height: 1.1;
  background-image: linear-gradient(146deg, #000, #757a7d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  :global(.dark) & {
    background-image: linear-gradient(146deg, #fff, #757a7d);
  }
}

.subtitle {
  font-size: 1.3rem;
  font-size: min(1.3rem, max(3.5vw, 1.2rem));
  font-feature-settings: initial;
  margin-top: 1.5em;
  line-height: 1.75em;
}

a.cta {
  display: inline-block;
  background: linear-gradient(to bottom, #238aff, #0077ff);
  text-decoration: none;
  border-radius: 9999px;
  color: white;
  padding: 0.75rem 1.5rem;
  margin-top: 0.5rem;
  text-shadow: 0 1px 1px #00387838;
  box-shadow: 0 1px 2px #00295738;
  transition: all 0.2s ease;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-right: 0.75rem;

  &:last-child {
    margin-right: 0;
  }

  span {
    display: inline-block;
    transition: all 0.2s ease;
  }

  &:hover {
    box-shadow: 0 5px 30px -10px #0078ffab;
    filter: brightness(1.05);

    span {
      transform: translateX(3px);
    }
  }

  &:active {
    box-shadow: 0 1px 3px #00295738;
    filter: brightness(0.95);

    span {
      transform: translateX(5px);
    }
  }

  &:focus-visible {
    outline: 2px solid
      hsl(var(--nextra-primary-hue) var(--nextra-primary-saturation) 77%);
    outline-offset: 2px;

    span {
      transform: translateX(3px);
    }
  }
}

.features {
  padding: 4rem 0;
  background-color: #f3f4f6;
  border-top: 1px solid rgb(229, 231, 235);
  border-bottom: 1px solid rgb(229, 231, 235);

  :global(.dark) & {
    background-color: #000;
    border-top: 1px solid rgb(38, 38, 38);
    border-bottom: 1px solid rgb(38, 38, 38);
  }
}
