.logoContainer {
  margin: 154px auto -50px auto;
  width: 140px;
  height: 140px;
  background-color: rgb(17, 17, 17);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
