language: node_js
node_js:
  - 8
  - 6
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
script:
  - yarn build
  - yarn test
  - yarn test-smoke-ci
after_success:
  - yarn coveralls
cache:
  yarn: true
  directories:
    - /home/travis/.cypress/Cypress
