/* TODO: Inline font */
@import 'https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap';

body {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  margin: 0;
}

html,
body {
  background: #093556;
}

#root {
  color: #0a2e46;
}
