.SimpleButton {
  display: inline-block;
  padding: 6px 12px;
  box-shadow: inset 0px 1px 0px 0px #f7c5c0;
  border: 1px solid #d83526;
  border-radius: 6px;
  background: linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
  background-color: #fc8d83;
  color: #ffffff;
  font-size: 16px;
  text-shadow: 0px 1px 0px #b23e35;
  cursor: pointer;
  outline: none;

  &:active {
    background: linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
    background-color: #e4685d;
  }

  &:disabled {
    opacity: 0.5;
  }
}
