@import '../../utils/common.less';

.buttonContainer {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

// <div
// className="flex justify-around items-center h3"
// style={{ minHeight: "4rem" }}
// >

.button {
  border: none;
  padding: 0.25rem 0.5rem;
  height: 4rem;
  color: white;
  flex: auto;
  cursor: pointer;
  border-radius: 0;
  background-color: @left-nav-bgcolor;
  &:hover {
    background-color: lighten(@left-nav-bgcolor, 10%);
  }
  font-size: 14px;
}

.buttonActive {
  background-color: lighten(@left-nav-bgcolor, 10%);
  color: @left-nav-color-selected;
}
