* {
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  color: #383838;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
}
ul {
  list-style-type: none;
}
p {
  margin: 15px 0;
}
a {
  color: #1e0fbe;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.square-block {
  width: 100%;
  height: 100%;
  border: 10px solid rgba(0, 0, 0, 0.1);
  border-top-color: rgba(255, 255, 255, 0.7);
  border-bottom-color: rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.tetrimino {
  position: relative;
  width: 100%;
  height: 100%;
}
  .tetrimino .positioned-square-block {
    position: absolute;
    width: 25%;
    height: 25%;
  }
