* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  margin: 15px;
}
ul {
  list-style-type: none;
}
p {
  margin: 15px 0;
}

.poster {
  float: left;
  width: 185px;
  margin: 0 15px 0 0;
}
.title {
  margin: 0 0 15px 0;
  font-size: 30px;
  font-weight: bold;
  line-height: 1em;
}
  .title .year {
    font-weight: normal;
  }

.credits {
  margin: 15px 0;
}
  .credit-label:after {
    content: ': ';
  }
  .credit-value {
    display: inline;
  }
    .credit-value li {
      display: inline;
    }
    .credit-value li:after {
      content: ', ';
    }
    .credit-value li:last-child:after {
      content: none;
    }

.overview {
  margin: 15px 0 0 0;
  padding: 0 0 0 200px;
  font-size: 18px;
  line-height: 24px;
}

.related {
  clear: both;
}
  .related .list {
    margin: -15px 0 0 -15px;
  }
  .related .list li {
    display: inline-block;
    margin: 15px 0 0 15px;
    vertical-align: top;
  }

.thumbnail {
  display: block;
  width: 154px;
}
  .thumbnail img {
    display: block;
    width: 154px;
    height: 231px;
    margin: 0 0 3px 0;
  }
