* {
  margin: 0;
  padding: 0;
}
body {
  margin: 15px;
  background: #fff;
  color: #383838;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
}
ul {
  list-style-type: none;
}
p {
  margin: 15px 0;
}
a {
  color: #1e0fbe;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.poster {
  float: left;
  width: 185px;
  margin: 0 15px 0 0;
}
.title {
  margin: 0 0 15px 0;
  font-size: 30px;
  font-weight: bold;
  line-height: 1em;
}
  .title .year {
    font-weight: normal;
  }

.credits {
  margin: 15px 0;
}
  .credit-label:after {
    content: ': ';
  }
  .credit-value {
    display: inline;
  }
    .credit-value li {
      display: inline;
    }
    .credit-value li:after {
      content: ', ';
    }
    .credit-value li:last-child:after {
      content: none;
    }

.overview {
  margin: 15px 0 0 0;
  padding: 0 0 0 200px;
  font-size: 18px;
  line-height: 24px;
}

.related {
  clear: both;
  padding: 15px 0 0 0;
}
  .related .list {
    margin: -15px 0 0 -15px;
  }
  .related .list li {
    display: inline-block;
    margin: 15px 0 0 15px;
    vertical-align: top;
  }

.thumbnail {
  display: block;
  width: 154px;
}
  .thumbnail .image {
    display: block;
    width: 154px;
    height: 231px;
    margin: 0 0 3px 0;
    background-repeat: repeat;
    background-position: 0 0;
  }

.demo-header {
  background: #fefd90;
  margin-bottom: 30px;
  padding: 15px;
}
  .github-link {
    white-space: nowrap;
  }

@media (min-width: 1000px) {

  body {
    margin: 30px;
    padding: 0 0 0 342px;
    font-size: 18px;
    line-height: 24px;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 342px;
    height: 100%;
    background: #e8e9e9;
    color: rgba(0, 0, 0, 0.5);
    overflow: auto;
  }
    .title-wrapper {
      position: relative;
      height: 513px;
      background: #383838;
      overflow: hidden;
    }
      .poster {
        float: none;
        display: block;
        margin: 0;
        width: 342px;
      }
      .title {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: 15px;
        background: rgba(0, 0, 0, 0.6);
        color: #fff;
        font-size: 36px;
      }

    .credits,
    .person-bio {
      margin: 0;
      padding: 15px;
    }
      .credits li {
        margin: 0 0 10px 0;
      }
      .credits li:last-child {
        margin: 0;
      }
      .credit-label {
        text-transform: uppercase;
      }
      .credit-label:after {
        content: none;
      }
      .credit-label,
      .credit-value {
        display: block;
      }

  .overview {
    padding: 0;
  }
}
