* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  margin: 15px;
}
ul {
  list-style-type: none;
}
p {
  margin: 15px 0;
}

.movie-poster {
  float: left;
  width: 185px;
  margin: 0 15px 0 0;
}
.movie-title {
  margin: 0 0 15px 0;
  font-size: 30px;
  font-weight: bold;
  line-height: 1em;
}
  .movie-title .year {
    font-weight: normal;
  }

.movie-credits {
  margin: 15px 0;
}
  .movie-credit-label:after {
    content: ': ';
  }
  .movie-credit-value {
    display: inline;
  }
    .movie-credit-value li {
      display: inline;
    }
    .movie-credit-value li:after {
      content: ', ';
    }
    .movie-credit-value li:last-child:after {
      content: none;
    }

.movie-plot {
  margin: 15px 0 0 0;
  padding: 0 0 0 200px;
  font-size: 18px;
  line-height: 24px;
}

.related-movies {
  clear: both;
  overflow: hidden;
}
  .related-movies .list {
    margin: -15px 0 0 -15px;
  }
  .related-movies .list li {
    float: left;
    margin: 15px 0 0 15px;
  }

.thumbnail {
  display: block;
  width: 154px;
  /* 231 + 3px margin + 2*22px line-height */
  height: 278px;
  overflow: hidden;
}
  .thumbnail img {
    display: block;
    width: 154px;
    height: 231px;
    margin: 0 0 3px 0;
  }
