.CounterButton {
  display: block;
  padding: 6px 12px;
  box-shadow: inset 0px 1px 0px 0px #f7c5c0;
  border: 1px solid #d83526;
  border-radius: 6px;
  background: linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
  background-color: #fc8d83;
  color: #ffffff;
  font-size: 16px;
  text-shadow: 0px 1px 0px #b23e35;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
}

.CounterButton:active {
  background: linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
  background-color: #e4685d;
}

.CounterButton:disabled {
  opacity: 0.5;
}

.CounterButton.violet {
  background: linear-gradient(to bottom, #8d83fc 5%, #685de4 100%);
  background-color: #8d83fc;
  border: 1px solid #3526d8;
  text-shadow: 0px 1px 0px #3e35b2;
}

.CounterButton.green {
  background: linear-gradient(to bottom, #83fc8d 5%, #5de468 100%);
  background-color: #83fc8d;
  border: 1px solid #26d835;
  text-shadow: 0px 1px 0px #35b23e;
}

