name: test
on:
  pull_request:
  push:
    branches: main
jobs:
  source:
    if: ${{ !contains(github.event.head_commit.message, '[release]') }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu
          - windows
    runs-on: ${{ matrix.os }}-latest
    steps:
      - run: git config --global core.autocrlf false
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'yarn'
      - run: yarn install --frozen-lockfile --network-timeout 600000

      # Test source (with cross-package coverage)
      - run: yarn src
      - run: yarn check-types
      - run: yarn check-types:docs
      - run: yarn check-types:cypress
      - run: yarn lint
      - run: yarn test:coverage --maxWorkers=2
      - uses: codecov/codecov-action@v3
        # Only report coverage once
        if: matrix.os == 'ubuntu'

  examples:
    if: ${{ !contains(github.event.head_commit.message, '[release]') }}
    strategy:
      fail-fast: false
      matrix:
        example: [webpack, vite]
        os: [ubuntu, windows]
        node-version: [20]
        lazy: [false]
        include:
          - example: webpack
            os: ubuntu
            node-version: 18
            lazy: false
          - example: webpack
            os: windows
            node-version: 18
            lazy: false
          - example: webpack
            os: ubuntu
            node-version: 20
            lazy: true
          - example: vite
            os: ubuntu
            node-version: 20
            lazy: true
    runs-on: ${{ matrix.os }}-latest
    container:
      image: mcr.microsoft.com/playwright:v1.41.1-jammy
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'
      - run: yarn install --frozen-lockfile --network-timeout 600000
      - run: yarn build

      # Generate static export for domExport test
      - run: yarn workspace example-${{ matrix.example }} export --lazy=${{ matrix.lazy }}

      - uses: BerniWittmann/background-server-action@v1
        with:
          command: yarn playwright test --workers=1
          # Start web servers for each test type:
          # - DOM dev server
          # - DOM export
          # - Native dev server
          start: |
            yarn workspace example-${{ matrix.example }} start --lazy=${{ matrix.lazy }},
            yarn workspace example-${{ matrix.example }} serve,
            yarn workspace example-${{ matrix.example }} native --lazy=${{ matrix.lazy }} --port 5002
          wait-on: 'http://localhost:5000,http://localhost:5001,http://localhost:5002'
        env:
          CYPRESS_EXAMPLE_NAME: ${{ matrix.example }}
          CYPRESS_LAZY: ${{ matrix.lazy }}

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report-${{ matrix.example }}-${{ matrix.os }}-node${{ matrix.node-version }}${{ matrix.lazy == true && '-lazy' || '' }}
          path: tests/playwright-report/
