name: test
on: [push]
jobs:
  source:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu
          # - windows
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'yarn'
      - run: yarn install --frozen-lockfile

      # Test source (with cross-package coverage)
      - run: yarn src
      - run: yarn check-types
      - run: yarn check-types:cypress
      - run: yarn lint
      - run: yarn test:coverage --maxWorkers=2
      - run: yarn codecov

  build:
    needs: source
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'yarn'
      - run: yarn install --frozen-lockfile

      - run: yarn build
      - uses: actions/upload-artifact@v3
        with:
          name: packages-dist
          path: packages/*/dist

  examples:
    needs: build
    strategy:
      fail-fast: false
      matrix:
        example: [webpack, vite]
        os:
          - ubuntu
          - windows
        node-version: [16, 18]
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'
      - run: yarn install --frozen-lockfile

      # Copy packages builds from previous job
      - uses: actions/download-artifact@v3
        with:
          name: packages-dist
          path: packages

      # Generate static export for domExport test
      - run: yarn example:${{ matrix.example }}:export

      - uses: BerniWittmann/background-server-action@v1
        with:
          command: yarn test:cypress
          # Start web servers for each test type:
          # - DOM dev server
          # - DOM export
          # - Native dev server
          start: yarn example:${{ matrix.example }},yarn example:${{ matrix.example }}:serve,yarn example:${{ matrix.example }}:native
          wait-on: 'http://localhost:5000,http://localhost:5001,http://localhost:5002'
        env:
          CYPRESS_EXAMPLE_NAME: ${{ matrix.example }}

      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: cypress-screenshots-${{ matrix.example }}-${{ matrix.os }}-node-${{ matrix.node-version }}
          path: cypress/screenshots
      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: cypress-videos-${{ matrix.example }}-${{ matrix.os }}-node-${{ matrix.node-version }}
          path: cypress/videos
