name: test
on:
  pull_request:
  push:
    branches: main
jobs:
  source:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu
          - windows
    runs-on: ${{ matrix.os }}-latest
    steps:
      - run: git config --global core.autocrlf false
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'yarn'
      - run: yarn install --frozen-lockfile

      # Test source (with cross-package coverage)
      - run: yarn src
      - run: yarn check-types
      - run: yarn check-types:cypress
      - run: yarn lint
      - run: yarn test:coverage --maxWorkers=2
      - uses: codecov/codecov-action@v3
        # Only report coverage once
        if: matrix.os == 'ubuntu'

  examples:
    strategy:
      fail-fast: false
      matrix:
        example: [webpack, vite]
        os: [ubuntu, windows]
        node-version: [18]
        lazy: [false]
        include:
          - example: webpack
            os: ubuntu
            node-version: 16
            lazy: false
          - example: webpack
            os: windows
            node-version: 16
            lazy: false
          - example: webpack
            os: ubuntu
            node-version: 18
            lazy: true
          - example: vite
            os: ubuntu
            node-version: 18
            lazy: true
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'
      - run: yarn install --frozen-lockfile
      - run: yarn build

      # Generate static export for domExport test
      - run: yarn workspace example-${{ matrix.example }} export --lazy=${{ matrix.lazy == true }}

      - uses: BerniWittmann/background-server-action@v1
        with:
          command: yarn test:cypress
          # Start web servers for each test type:
          # - DOM dev server
          # - DOM export
          # - Native dev server
          start: |
            yarn workspace example-${{ matrix.example }} start --lazy=${{ matrix.lazy == true }},
            yarn workspace example-${{ matrix.example }} serve,
            yarn workspace example-${{ matrix.example }} native --lazy=${{ matrix.lazy == true }}
          wait-on: 'http://localhost:5000,http://localhost:5001,http://localhost:5002'
        env:
          CYPRESS_EXAMPLE_NAME: ${{ matrix.example }}
          CYPRESS_LAZY: ${{ matrix.lazy }}

      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: cypress-screenshots-${{ matrix.example }}-${{ matrix.os }}-node${{ matrix.node-version }}
          path: cypress/screenshots
      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: cypress-videos-${{ matrix.example }}-${{ matrix.os }}-node${{ matrix.node-version }}
          path: cypress/videos
