name: test
on:
  pull_request:
  push:
    branches: main
jobs:
  source:
    if: ${{ !contains(github.event.head_commit.message, '[release]') }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu
          - windows
    runs-on: ${{ matrix.os }}-latest
    steps:
      - run: git config --global core.autocrlf false
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - run: npm ci

      # Test source (with cross-package coverage)
      - run: npm run src
      - run: npm run check-types
      - run: npm run check-types:docs
      - run: npm run lint
      - run: npm run test:coverage --maxWorkers=2

      - uses: codecov/codecov-action@v4
        # Only report coverage once
        if: matrix.os == 'ubuntu'
        with:
          directory: coverage
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
          verbose: true

  examples:
    if: ${{ !contains(github.event.head_commit.message, '[release]') }}
    strategy:
      fail-fast: false
      matrix:
        example: [webpack, vite]
        os: [ubuntu, windows]
        node-version: [20]
        lazy: [false]
        include:
          - example: webpack
            os: ubuntu
            node-version: 18
            lazy: false
          - example: webpack
            os: windows
            node-version: 18
            lazy: false
          - example: webpack
            os: ubuntu
            node-version: 20
            lazy: true
          - example: vite
            os: ubuntu
            node-version: 20
            lazy: true
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - run: npm ci
      - run: npm run build

      # https://playwright.dev/docs/browsers#install-system-dependencies
      - run: npx playwright install --with-deps chromium

      # Generate static export for domExport test
      - run: npm --workspace example-${{ matrix.example }} run export -- --lazy=${{ matrix.lazy }}

      - uses: BerniWittmann/background-server-action@v1
        with:
          command: npm run test:e2e
          # Start web servers for each test type:
          # - DOM dev server
          # - DOM export
          # - Native dev server
          start: |
            npm --workspace example-${{ matrix.example }} run start -- --lazy=${{ matrix.lazy }},
            npm --workspace example-${{ matrix.example }} run serve,
            npm --workspace example-${{ matrix.example }} run native -- --lazy=${{ matrix.lazy }} --port 5002
          wait-on: 'http://localhost:5000,http://localhost:5001,http://localhost:5002'
        env:
          TEST_EXAMPLE_NAME: ${{ matrix.example }}
          TEST_LAZY: ${{ matrix.lazy }}

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report-${{ matrix.example }}-${{ matrix.os }}-node${{ matrix.node-version }}${{ matrix.lazy == true && '-lazy' || '' }}
          path: tests/playwright-report
